.container {
	width: 100%;
	background-color: #e1d1c1;
}
.admin, .index {
	width: 960px;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px;
}
.sign, h1{
	text-align: center;
}
h1 {
	margin-top: 5px;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.logo {
	width: 100px;
	height: 100px;
}
input[type=radio]{
	margin-bottom: 15px;
}
.admin {
	text-align: left;
}
#typeReg {
	display: none;
}
.lang select{
	background-color: #664845;
}
#sign-In {
	width: 100%;
	background-color: #664845;
}
.nav-menu{
	margin-top: 10px;
	overflow: hidden;
}
.nav-menu .navbar {
	background-color: #34201f;
}
.nav-menu .navbar-right{
	margin-right: 0;
}
.lang select, #sign-In, .nav-menu .navbar-right a {
	color: #ffffff;
}
.nav-menu .navbar-right a:hover {
	background-color: #1d0f0c;
}
.content{
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px;
	background-color: #fff;
	min-height: 300px;
}

